html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    font-family: 'Lato', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::placeholder {
  color: #e1b953;
}


.App {
  text-align: center;
}
.App ::-webkit-scrollbar-track
{

}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.ProductPageImage {
  background-color: black;
}

.ProductPageTitle {
  text-align: left;
  font-size: 19.2px ;
  font-family: 'Lato', sans-serif;
  min-width: 381px;
}

.Title_Container {
  margin-left: 11vw;
  margin-top: 1rem;
}

.Ebay_Logo {
  height: 3.5rem;
}

.Watch_Title_Text{
  font-size: 20px;
  margin-bottom: 30px;
}

.Timer_Style {
  text-align: left;
  font-size: 10px;
  font-family: 'Lato', sans-serif;

}

.Eye_Style {
font-size: 10px;
font-family: 'Lato', sans-serif;

}

.Icon_Container {
  text-align: left;
  display:flex;
  margin-top: 1rem;
}

.ProductPage_Image_Container {
  text-align: left;
  margin-left: 6rem;
  grid-column: 1/-1;
  margin-top: 2rem;
  width: 80%;
  height: 17rem;
  background-image: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-width: 320px;
}

.SearchImages {
  background-color: white;
  display: block;
  width:17.8vw;
  height:141.61px;
margin-left:2vw;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
background-repeat: no-repeat;
text-align: center;
background-size: contain;
background-position: center;
}

.ProductPage_ImageSet_Container {
  background-color: black;
  width: 10vw;
  height: 15vh;
  margin-left: 10vw;
  margin-top: 2vh;
  background-size: contain;
}

.Image_Cont {
  display:flex;
  margin-bottom:2rem
}

.Sub_Info_Cont {
  margin-left:1vw;
  text-align:left
}

.Sub_Info_Title {
  margin-top:12.8px; 
  margin-bottom:0;
  text-align:left; 
  font-size:.9rem;
  min-width: 510px;
}

.Sub_Info_Subtitle {
  margin-top:0;
  margin-bottom:0;
  font-size:.68rem
}

.Sub_Info_Price {
  text-align:left;
  font-weight:bold;
  margin-bottom:0;
  font-size:.8rem;
}

.Sub_Info_BuyText {
  text-align:left;
  margin-top:2.3120px;
  margin-bottom:2.3120px;
  font-size:.5rem;
  color:grey
}

.Sub_Info_ShippText {
  text-align: left;
    font-weight: bold;
    margin-top: 2.89px;
    margin-bottom: 0rem;
    font-size: 0.5rem;
    color: grey
}

.Sub_Info_Type {
  text-align: left;
    margin-top: 11.56px;
    margin-bottom: 0rem;
    font-size: 0.7rem;
    font-weight: bold;
}

.ProductPage_ImageSet_Container1{
  background-color: black;
  width: 10vw;
  height:86.7px;
  margin-left: 1vw;
  margin-top: 11.56px;
  background-size: contain;

}
.Eye {
  margin-right: .4vw;
  margin-left: 11vw;

}

.Time {
  margin-right: .4vw;
  margin-left: 4vw;

}

.Product_Container {
  display:flex;
  text-align: center;
    margin: auto;
}

.Product_Info {
  margin-left: 51.2px;
  margin-top: 5.78px;
  margin-right: 96px;
  flex: 1 1;
  width: 43%
}

.Buy_Container {
  width: 33vw;
  height:25vh;
  margin: auto;
  display:flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 142px;
}

.Price_Right_Container{
  width:11.2vw;
  height:25vh;
  padding: 54.332px 0;
  min-height: 142px;

} 

.Price_Container{
width: 22vw;
border-right-color: #e6e6e6;
  border-right-style: solid;
  border-right-width: .01vw;
min-height: 142px;

}

.Price {
  margin-top: 34.68px;
  font-size: 38.4px;
  text-align: center;
  color:#3e82b9;
  font-family: 'Lato', sans-serif;

}

.Price_Sign  {
  margin-top: 6vh;
  margin-left: .5vw;
  font-size: 23.04px;
  color: #3e82b9
}

.Price_Text {
  font-size: 8.96px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;

}

.Purchase_Container {
  margin:auto 5.5vw;
  margin-top: 11.56px;
  display:flex;
}

.Purchase_Left_Container {
  width:2vw;
  background-color:#a3cb47;
  height:4.5vh;
  min-height: 25px;
  min-width: 23.7px;
}

.Purchase_Left_Auction_Container {
  width:2vw;
  background-color:#a3cb47;
  height:4.5vh;
  min-height: 25px;
  min-width: 23.7px;
}

.Purchase_Right_Container {
  width: 9vw;
  height: 4.3vh;
  border-bottom-color: #a3cb47;
  border-bottom-style: solid;
  border-bottom-width: 1.1360px;
  min-height: 24.424px;
}

.Check_Box {
  margin-top: 1vh;
  font-size: 16.64px;
  color: white
}

.Auction_Dollar_Box {
  margin-top: 3.5px;
  font-size: 16.64px;
  color: white;
}

.Buy_Now_Text {
  font-size: 12.8px;
  margin-top: .8vh;
  font-weight: 400;
  color: #a3cb47;
  min-width: 81px;
}

.Purchase_Eye_Icon {
text-align: center;
}

.Purchase_Cart_Icon {
text-align: center;
}

.Watch_Item_Text {
  font-size: 10.24px;
  font-weight: 300;
  text-align: center;
  color: grey;
}

.Add_Cart_Text {
  font-size: 10.24px;
  font-weight: 300;
  color: grey;
}

.Quantity_Container {
  margin: auto;
  text-align: left;
  margin-left: 3.5vw;
  display: flex;
  flex:1;
  margin-bottom: 23.12px;
  margin-top: 11.56px;

}

.Quantity_Text {
  font-weight: 300;
}

.Selector {
  margin-left: 2vw;
  width:4vw;
  text-align: center;
  text-align-last:center;
  color: #3e82b9;
}

.Selector_Option_Text {
  color: #3e82b9;
}

.Condition_Container {
  margin: auto;
  text-align: left;
  margin-left: 3.5vw;
  display: flex;
  flex:1;
  margin-bottom: 11.56px;
  margin-top: 23.12px;
}

.Circle_Under_Buy {
  border-radius: 4vw;
  width: 51.2px;
  height: 51.2px;
  margin-left: 3.5vw;
  margin-top: 2.5vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)  ;
}

.Circle_Under_Buy div {
height: 100%;
width: 100%;
}

.Plane_Color {
  color: #a3cb47;
  text-align: center;
  margin: auto;
  font-size: 32px;
  height: 100%;
}

.Calendar {
  color: #a3cb47;
  text-align: center;
  margin: auto;
  font-size: 25.6px;
  height: 100%;
}

.USA_Text {
  color: #a3cb47;
  text-align: center;
  margin: auto;
  font-size: 19.2px;
  height: 100%;
}

.Shipping_Text {
  margin-left: 3.5vw;
    font-size: 8.96px;
    width: 7vw;
    text-align: left;
    margin-top: 1vh;
    font-family: 'Lato', sans-serif;
}

.Shipping_Text_Under {
  margin-left: 3.5vw;
  font-size: 8.96px;
  width: 7vw;
  text-align: left;
  margin-top: .3vh;
  color: lightgray;
  font-family: 'Lato', sans-serif;

}

.Auction_Input {
    width: 9vw;
    height: 22px;
    text-align: center;
    min-height: 22px;
}

.Auction_Input::placeholder {
  color: #a7ce4a;
}

.Under_Bid_Text {
  font-size: 8.96px;
  text-align: center;
  margin-top: .3vh;
  color: lightgray;
}

.Bid_Button {
  margin-top: 5.68px;
  color: white;
  background-color: #a3cb47;
  border-width: 0px;
  width: 89.6px;
  height: 22.72px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1)  ;
  font-size: 12.8px;
}



.Bids_Text {
  font-size: 10.24px;
  font-weight: 300;
  text-align: center;
  color: grey;
  margin-top: 98px;
}

.Price_Right_Auction_Container{
  width:40vw;
  padding: 17.34px  0;
}

.Header {
  text-align:left;
  display: flex;
  margin-top: 23.12px;
}

.Header_Search {
  margin-top: 17.34px;
    height: 34.68px;
    /* border-color: orange; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* border-bottom-color: orange;
    border-bottom-width: 4.04599px;
    border-style: solid; */
    display: flex;
}

.InputBar {
  height: 33px;
  width: 35vw;
  text-align: center;
  outline: none;
  border-bottom-color: #e1b953;
  border-width: 0;
  border-style: solid;
  font-size: 12.8px;
  display: block !important;
  border-bottom: 4.04599px orange solid;
}

.Category_Select {
    height: 38.726px;
    width: 10vw;
    border-bottom-color: #6ba9d8;
    border-width: 0;
    border-bottom-width: 4.04599px;
    border-bottom-style: solid;
    color: #6ba9d8;
    font-size: 12.8px;
  }

.Search_Icon {
    text-align: center;
    vertical-align: middle;
    margin-top: 6px;
}

.Search_Container {
  background-color:#a7ce4a;
  text-align:center; 
  vertical-align: middle;
  height: 38.726px;
  width: 38.726px;
}

.App_Header {
  text-align: center;
  margin: auto;
  width: 84%;
  list-style-type: none;
  margin-bottom: 25px;
}

.Search_Button {
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: 100%;
  color: white;
  cursor: pointer;
  background: none;
}

.Ends_Container {
margin-top: 15.64px;
margin-left: 11vw;
}

.Ends_Container h1 {
  font-size: 8.8px;
}

.Search_Container_App {
  display: flex;
}

.Categories_Left {
  width: 20%;
  height: 100%;
}

.Categories_Side_Container {
  text-align: left;
  margin-left: 3vw;
}

.Categories_Side_Container p:nth-child(1) {
  font-size: 12.8px;
  font-weight: bold;
}

.Categories_Side_Container p:nth-child(2) {
  font-size: 12.8px;
  margin-top: 5.78px;
}

.Category_Button_Text {
  border: none;
  background-color: inherit;
  padding: 3px 0px 3px 0px;
  font-size: 12.8px;
  cursor: pointer;
  display: block;
  text-align: left;
  color: blue;
}

.ProductPage_HR {
  color: rgb(0, 66, 88);
  border-top: 1px solid lightgrey;
}

.Seller_Container {
  text-align: center;
  width: 50%;
}

.Seller_Text {
  margin-top: 26.01px;
  font-size: 12.43px;
  margin-left: 70.4px;
}

.Rating_Bar {
  background-color: red;
    width: 8vw;
    height: 5.78px;
    margin-left: 70.4px;
    border-radius: 16px;
    margin-top: 5.78px;
}

.Rating_Bar_div {
  background-color: #a7ce4a;
  width: 92.3%;
  height: 5.78px;
  border-radius: 16px;
}

.Seller_Container_div {
  display: flex;
  margin-top: 5.78px;
}

.Rating_Text {
  font-size: 9.944px;
  margin-left: .5vw;
  color: grey;
}

.Star_Icon {
    color: gold;
    margin-top: 23.12px;
}

.Top_Seller_Text {
  font-size: 6.215px;
  min-width: 27px;
}

.Product_Right_HR {
  width: 32vw;
}

.Product_Bottom_HR{
  margin-top: 40.46px;
}

.Highlighted_Spec_Button{
  margin-left: 8vw;
  color: white;
  background-color: #a3cb47;
  border-width: 0px;
  padding: 10px 20px;
  text-align: center;
  font-size: 14.08px;
}

.Unhighlighted_Spec_Button{
  margin-left: 8vw;
  color: #a3cb47;
  background-color: white;
  border-width: 0px;
  padding: 10px 20px;
  text-align: center;
  font-size: 14.08px;
  cursor: pointer;
}

.Unhighlighted_Shipping_Button{
  color: #a3cb47;
  background-color: white;
  border-width: 0px;
  padding: 10px 20px;
  text-align: center;
  font-size: 14.08px;
  cursor: pointer;
}

.Highlighted_Shipping_Button{
  color: white;
  background-color: #a3cb47;
  border-width: 0px;
  padding: 10px 20px;
  text-align: center;
  font-size: 14.08px;
}

.Auction_Bid{
  margin-top: 33px;
}

.Description_Cont_Cont {
  text-align: left;
  width: 60%;
}

.Left_Box {
  text-align: left;
  width: 40%;
}

.Item_Spec_Container {
  margin-top: 28.9px;
text-align: center;
}

.Item_Spec_Container1 {
height: 100%;
width:80%;
border: lightgrey;
border-width: 1px;
border-style: solid;
text-align: center;
margin: auto;
}

.Item_Ship_Container1 {
  height: 100%;
  width:80%;
  border: lightgrey;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  margin: auto;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: grey;
  border-bottom-width: 0px;
  }

.Item_Spec_Container1 h1:nth-child(1){
  text-align: left;
  padding: 1vh 3vh;
  font-size: 15.36px;
  
  }

.Spec_Box{
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(2,1fr);
}

  .Right_Spec_Cont {
    text-align: left;
    width: 50%;
  } 

  .Right_Spec_Cont_Text {
    text-align: left;
    padding: 1vh 5vw;
    font-size: 12.8px;
  }

  .About_Cont{
    border-width: 1px;
    border-color: lightgrey;
    border-style: solid;
    height: 100%;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
  }

  .About_Title {
    text-align: left;
    padding: 2vh 3vh;
  }

.Shipping_Bar {
  width: 100%;
  background-color: #f0f0f0;
  display: flex;
  min-height: 23px
}

.Shipping_Bar_Text_Cont {
  width: 25%;
}

.Shipping_Bar_Text{
  text-align: left;
    padding: 5.78px 25.6px;
    font-size: 12.79px;
}

.Shipping_Bar_Title{
  text-align: left;
    padding: 5.78px 25.6px;
    font-size: 10.24px;
    font-weight: bold;
}

.Desc_Titles {
  padding: 10px;
}

.Return_Bar_Text_Cont {
  width: 33.33%;
}

.Payment_Bar_Text_Cont{
  width: 100%;
}

.Return_Bar_Title{
  text-align: left;
    padding: 5.78px 25.6px;
    font-size: 10.24px;
    font-weight: bold;   
}
.Payment_Bar_Title{
  text-align: center;
  padding: 5.78px 25.6px;
  font-size: 8.96px;
  font-weight: bold;
}

.Return_Bar_Text {
  text-align: left;
    padding: 5.78px 25.6px;
    font-size: 12.8px;
}

.Payment_Bar_Text {
  text-align: center;
    font-size: 12.8px;
}

.Shipping_Bar_Answer {
  width: 100%;
  display: flex;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: grey;
}

.Payment_Icon{
  padding: .5vw .2vw;
}

.Payment_Cont{
  height: 86.7px;
  width: 80%;
  border: lightgrey;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  margin: auto;
}

.About_Section {
  overflow: auto;
  width: 100%;
  margin-bottom: 5vh;
}

.slider {
  width: 400px;
  height: 400px;
}

.slide {
  width: 100%;
  height: 100%;
}  

.backArrow {
  display: grid;
    align-items: center;
  width: 100%;
  height: 100%;
}
.carousel .slide {
  background: white !important;
}
.carousel.carousel-slider .control-arrow {
  color: white  !important;
  font-size: 26px;
  bottom: 0;
  margin-top: 0;
  padding: 5px;
  margin: auto !important;
  height: 34vh;
  background-color: #999999 !important;
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow{
  transition: all .25s ease-in;
    opacity: .4;
    position: absolute;
    z-index: 2;
    top: 20px;
    background: black;
    border: 0;
    font-size: 32px;
    cursor: pointer;
}
.nextArrow {
  display: grid;
  justify-content: end;
  align-items: center;
width: 100%;
height: 100%;
}

.slider-wrapper{
  height: 100%;
  width: 100%;
}

.Image_Button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.Add_To {
  background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.Trash_Container {
  margin-left: 3vw;
  align-items: center;
  display: flex;
}

.Trash_Container > button {
  cursor: pointer;
}

.Slider_Grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-content: center;
}

.Arrow_Cont {
  display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    width: 100%;
    height: 100%;
}

.Left_Search {
  text-align: center;
  display: flex;
  margin-top: 5.78px;
}

.WatchList_Header {
  font-size: 7.68px;
  display: flex;
  justify-content: center;
  color: #a3cb47;
  text-align: center;
}

.Watch_Eye {
    margin-top: .7vw;
    color: #a3cb47;
    justify-content: center; 
    width: 100%;
}

.Search_Res_Cont {
  width:80%
}

.No_Search_Text {
  color: #a3cb47;
}

.Icon_Cont {
  width: 10vw;
  text-align: center;
}

.Watch_Container{
  border-radius: 40px;
  background-color: white;
  width: 51.2px;
  height: 51.2px;
  display: grid;
  margin-left: 3vw;
  margin-top: 9px;
  grid-template-rows: repeat(2, 1fr);
}

.Title_Left_Cont {
  width:46vw;
  text-align:center;
  margin: auto 3vw auto auto;
}

.Sub_Info_Price_Cont {
  width: 11vw;
}

.Title_Section_Cont {
  display: block;
  width: 50%;
}
.Header_Space {
  width: 144.5px;
}
@media only screen and (max-width: 1050px) {
  .Seller_Container {
    margin-left: 0px !important;
  }
}


@media only screen and (max-width: 1000px) {
 .Shipping_Text_Under {
   margin-left: 35px;
 }
 .Price_Right_Auction_Container {
   width: 40vw;
 }
 .Title_Section_Cont {
   width: 491px;
 }
 .Categories_Left {
   display: none;
 }
 .Search_Res_Cont {
   width: 100%;
 }
 .Category_Select {
   display: none;
 }
 .Title_Left_Cont {
  margin: auto 30px auto auto;
}
.Seller_Container {
  width: 491.67px;
}
.Product_Info {
  width: 400px;
}

.Eye {
  margin-right: 4px;
}
.Time {
  margin-left: 40px;
  margin-right: 4px;
}
.carousel.carousel-slider{
  width: 406.5px !important;
}
.Product_Right_HR {
  width: 320px;
}
.Condition_Container {
  margin-left: 35px;
}
.Quantity_Container {
  margin-left: 35px;
}
.Buy_Container {
  width: 330px;
  height: 131.75px;
}

.Price_Right_Container {
  width: 112px;
}
.Rating_Text {
  margin-left: 5px;
}
.Rating_Bar {
  width: 80px;
}
.Buy_Container{ 
  margin: auto 35px;
}
.Icon_Cont{
  width: 100px;
}
.Circle_Under_Buy {
  margin-left: 35px;
  margin-top: 25px;
  border-radius: 40px;
}
.Shipping_Text {
  margin-left: 35px;
  width: 70px;
  margin-top:  5.27px;
}
.Selector {
  margin-left: 20px;
  width: 40px;
}
.Check_Box {
  margin-top: 5.28px;
}
.Purchase_Right_Container {
  width: 90px;
}
.Purchase_Left_Container {
  width: 20px;
}
.ProductPage_ImageSet_Container1 {
  width: 100px;
  margin-left: 10px;
}
.Watch_Title_Text {
  width: 100%;
  margin-bottom: 2rem;
}
.Auction_Input {
  width: 90px;
}
.Purchase_Container {
  justify-content: center;
}

}
@media only screen and (max-width: 717px) {

.Header_Space {
  width: 10px;
}
.Header_Search {
  min-width: 13rem;
  width: 13rem;
}
.Sub_Info_Title {
  min-width: 250px;
    width: 220px;
}
}
@media only screen and (max-width: 900px) {
  .Sub_Info_Cont {
    margin-left: 7px;
  }
  .Trash_Container {
    margin-left: 27px;
  }
  .Sub_Info_Price_Cont {
   width: 99px;
 }
 .SearchImages {
   width: 160.2px;
   margin-left: 18px;
 }
 
 .Ends_Container {
 margin-left: 98px;
 }
 .InputBar {
   width: 317.56px;
 }
 .App_Header {
  margin: 24.5px 70px;
 }
 .Watch_Container{
   margin-left: 27px;
 }
 .Watch_Eye {
  margin-top: 6.3px;
 }
.Purchase_Left_Auction_Container {
  width: 20px;
}
}

@media only screen and (max-width: 800px) {
  .Item_Spec_Container1 {
    margin: auto 77px;
  }
  .Right_Spec_Cont_Text {
    padding: 5.68px 40px;
  }
  .About_Cont {
    margin: 28.9px 77px;
  }

}
@media only screen and (max-width: 760px) {
  .Seller_Container {
    display: none;
  }
  .Price_Container {
    width: 60vw;
  }
  .Product_Container {
    display: grid;
  }
  .Quantity_Container {
    display: none;
  }
  .Condition_Container {
    display: none;
  }
  .Product_Right_HR {
    display: none;
  }
  .Buy_Container{
    margin-top: 40px;
  }
  .Title_Left_Cont {
    margin: 0px;
  }
  .Circle_Under_Buy{
    margin-left: unset;
  }
  .Shipping_Text{
    margin-left: unset;
  }
  .Shipping_Text_Under {
    margin-left: unset;
  }
  .ProductPage_Image_Container {
    margin-left: 2rem;
  }
  .ProductPage_ImageSet_Container1{
    margin-left: unset;
  }
  .Auction_Buy_Cont{
    width: 30vw;
  }
  }

  @media only screen and (max-width: 900px) and (min-width: 761px) {
.Buy_Container {
  flex-direction: column;
  width: 220px;
}
.Price_Right_Container {
  position: absolute;
  margin-left: 3.5rem;
  margin-top: 7.3rem;
  height: unset;
  padding: unset;
}
.Price_Container{
  width: unset;
}
.Icon_Set_Cont {
  flex-direction: column;
    margin-left: 2rem;
}
.Auction_Only_Cont{
  flex-direction: unset;
  width: 39vw;
}
.Product_Info{
  margin-left: 1vw;
}
  }

.Icon_Set_Cont {
  display: flex;
}

.Icon_Split {
  display: flex;
}

.current-page {
  font-size: 24px;
  vertical-align: middle;
}

.country-card-container {
  height: 60px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.country-name {
  font-size: 14.4px;
}

.country-region {
  font-size: 11.2px;
}

.country-page,
.country-name,
.country-region {
  line-height: 1;
}

ul.pagination {
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
ul.pagination li.page-item.active a.page-link {
  color: #445565 !important;
  background-color: #e3e7eb !important;
  border-color: #ced4da !important;
}
ul.pagination a.page-link {
  padding: 0.75rem 1rem;
  min-width: 3.5rem;
  text-align: center;
  box-shadow: none !important;
  border-color: #ced4da !important;
  color: #6b88a4;
  font-weight: 900;
  font-size: 16px;
}
ul.pagination a.page-link:hover {
  background-color: #f4f4f4;
}

@media only screen and (max-width: 499px) {
  .App_Header {
    margin: unset;
    margin-left: 1rem;
  }
  .Header_Search{
    height: 25px;
  }
  .InputBar {
    height: 24px;
  }
  .Auction_Input {
    min-height: unset;
    height: 22px;
  }
  .Search_Container {
    height: 30.05px;
    width: 30.05px;
    min-width: unset;
  }
  .Search_Icon {
    width: 20px;
    margin-top: unset;
    height: 100%;
  }
  .Watch_Container{
    margin-left: 37px;
  }
  .Watch_Eye{
    margin-left: unset;
    justify-content: center; 
    width: 100%;
  }
  .WatchList_Header {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .ProductPageTitle{
    min-width: unset;
  }
  .Slider_Grid{
    grid-template-columns: max-content max-content max-content;
    justify-content: start;
  }
  .carousel.carousel-slider{
    width: 100vw !important;
  }
  .Icon_Cont{
    width: 80px;
  }
  .Icon_Set_Cont{
    justify-content: center;
  }
  .Description_Cont_Cont{
    width: unset;
  }
  .Item_Spec_Container1 {
    min-width: unset;
  }
  .Spec_Box {
    grid-template-columns: repeat(1, 1fr);
  }
  .About_Cont {
    min-width: unset;
  }
  .Buy_Container{
    width: 90%;
    margin: 20px 0 0 5px;
  }
  .Product_Info{
 margin: auto;
 margin-left: unset;
 margin-top: 5px;
 margin-right: unset;
 width: unset;
  }
  .Item_Spec_Container1{
    margin: auto;
  }
  .About_Cont{
    margin: auto;
    margin-top: 10px;
  }
  .Shipping_Bar_Text {
    font-size: 10px;
  }
  .Return_Bar_Text {
    font-size: 10px;
  }
  .Ebay_Logo {
    height: 2.5rem;
    margin-top: 10px;
  }
  .ProductPage_Image_Container {
    margin-left: unset;
    width: 100%;
  }
  .Trash_Container {
    margin-left: 10px;
  }
  .SearchImages{
    width: 130px;
  }
  .Sub_Info_Title{
    min-width: unset;
    width: unset;
  }
  .Ends_Container{
    margin-left: unset;
  }
  .Auction_Buy_Cont{
    width: 60vw;
  }
}

@media only screen and (max-width: 760px) and (min-width: 500px){
.Product_Container{
  display: grid;
}
.Title_Left_Cont{
  width: 100vw;
}
.carousel.carousel-slider{
  width: 100% !important;
}
.Product_Info{
  margin-left: unset;
  width: 100vw;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.Icon_Cont{
  width: 80px;
}
}

.LandingPage_Cont{
  width: 100vw;
  height: 100vh;
}

#Land_Image{
  width: 100%;
  height: 100%;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  top: 0;
}

.LandingPage_Cont > div {
  width: 100%;
  display: flex;
  align-self: auto;
  height: 2rem;
  top: 50%;
  left: 0;
  flex-direction: column;
}

.Landing_Input {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 2rem;
  margin-top: 50px;
}

.LandingPage_Cont >div > div > input{
  width: 50%;
  height: 2rem;
  background-color: white;
  border: 0;
  padding: 1rem;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  position: relative;
  display: flex;
justify-content: flex-end;
align-items: flex-end;
z-index: 3;
}

.LandingPage_Cont > div > div > a > svg{
    font-size: 40px;
    color: gray;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    color: #a3cb47;
}
.LandingPage_Cont > div > div > a{
  position: absolute;
  right: 23.7%;
  color: gray;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.LandingPage_Cont > div > div > input::placeholder {
  color: gray;
}

.Ebay_Logo_Land{
  height: 5rem;
  width: 8rem;
  margin: 2vw 3vw;
  z-index: 3;
}

#dark_over{
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: .3;
  position: absolute;
  top: 0;
  z-index: 1;
}

#Landing_Text{
  top: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.LandingPage_Cont > div > div > h1{
font-size: 40px; 
color: white;
margin-bottom: 10px;
text-align: center;
text-shadow: 2px 2px 6px #000000;
}

.LandingPage_Cont > div > div > p{
  font-size: 30px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 6px #000000;
  }

  @media only screen and (max-width: 450px){
    .LandingPage_Cont > div > div > h1{
      font-size: 30px;
      }
      
      .LandingPage_Cont > div > div > p{
        font-size: 20px;
        }
    }